<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div
      class="w-full h-screen flex justify-center items-center bg-zinc-800 gap-2"
    >
      <div class="turn-indicator text-white text-xl mb-4">
        Current Turn: <span id="turn">White</span>
      </div>

      <div class="chessboard w-120 h-120 bg-red-400"></div>
      <div
        class="move-history-container bg-gray-800 p-4 text-white rounded-lg w-50"
      >
        <h2 class="text-lg font-bold">Move History</h2>
        <div id="moveHistory" class="grid grid-cols-2 gap-2"></div>
      </div>
    </div>

    <!-- Socket.io cdn -->
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <!-- Chess.js cdn -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
